<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2 class="h2">Collaborateurs</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/addEditcollaborateur">Ajout</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      Filtres
    </button>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col my-sidebar">
      <h2>LEFT</h2>
      <h6>(FIXED 230px COLUMN)</h6>
    </div>
    <div class="col text-center">
      <h1>CENTER (FLUID COLUMN)</h1>
    </div>
    <div class="col my-sidebar">
      <h2>RIGHT</h2>
      <h6>(FIXED 230px COLUMN)</h6>
    </div>
  </div>
</div>


<nav aria-label="Page navigation example" >
  <ul class="pagination pagination-sm d-flex align-items-end flex-column">
    <li class="page-item"><a class="page-link" href="#">#</a></li>
    <li class="page-item"><a class="page-link" href="#">A</a></li>
    <li class="page-item"><a class="page-link" href="#">B</a></li>
    <li class="page-item"><a class="page-link" href="#">C</a></li>
    <li class="page-item"><a class="page-link" href="#">D</a></li>
    <li class="page-item"><a class="page-link" href="#">E</a></li>
    <li class="page-item"><a class="page-link" href="#">F</a></li>
    <li class="page-item"><a class="page-link" href="#">G</a></li>
    <li class="page-item"><a class="page-link" href="#">H</a></li>
    <li class="page-item"><a class="page-link" href="#">I</a></li>
    <li class="page-item"><a class="page-link" href="#">J</a></li>
    <li class="page-item"><a class="page-link" href="#">K</a></li>
    <li class="page-item"><a class="page-link" href="#">L</a></li>
    <li class="page-item"><a class="page-link" href="#">M</a></li>
    <li class="page-item"><a class="page-link" href="#">N</a></li>
    <li class="page-item"><a class="page-link" href="#">O</a></li>
    <li class="page-item"><a class="page-link" href="#">P</a></li>
    <li class="page-item"><a class="page-link" href="#">Q</a></li>
    <li class="page-item"><a class="page-link" href="#">R</a></li>
    <li class="page-item"><a class="page-link" href="#">S</a></li>
    <li class="page-item"><a class="page-link" href="#">T</a></li>
    <li class="page-item"><a class="page-link" href="#">U</a></li>
    <li class="page-item"><a class="page-link" href="#">V</a></li>
    <li class="page-item"><a class="page-link" href="#">W</a></li>
    <li class="page-item"><a class="page-link" href="#">X</a></li>
    <li class="page-item"><a class="page-link" href="#">Y</a></li>
    <li class="page-item"><a class="page-link" href="#">Z</a></li>
  </ul>
</nav>
