/* common */
.wrapper {
    background: #e9ecf3;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
  }
  .content-card {
    padding: 15px;
    background-color: white;
    min-height: 700px;
  }

  /* side infos section style */
  .name {
    font-weight: 600;
    padding: 10px 0px;
  }
  .btn-save-changes {
    width: 100%;
    color: white;
  }

  .profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 999px;
    border: 2px solid darkgray;
  }

  /* form section style */
  .title-nav {
    color: gray;
  }

  /* remove min height vh in mobile */
  @media (max-width: 991px) {
    .content-card {
      min-height: 100%;
    }
  }