<section class="wrapper">
  <section class="container-fluid profile-section">
    <div class="row gap-3">
      <div class="col-lg-4 card content-card">
        <div
          class="d-flex justify-center align-items-center flex-column w-100"
        >
          <h4 class="name">Afaf El Profile</h4>

          <img
            class="profile-pic shadow-sm"
            src="https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198?b=1&k=20&m=476085198&s=170667a&w=0&h=Ct4e1kIOdCOrEgvsQg4A1qeuQv944pPFORUQcaGw4oI="
            alt=""
          />
        </div>

        <div class="info">
          <strong>Location :</strong>
          <p>Rabat</p>
        </div>
        <div class="info">
          <strong>Location :</strong>
          <p>Rabat</p>
        </div>
        <div class="info">
          <strong>Location :</strong>
          <p>Rabat</p>
        </div>
        <div class="info">
          <strong>Location :</strong>
          <p>Rabat</p>
        </div>
        <button type="button" class="btn btn-info btn-save-changes">
          Save Changes
        </button>
      </div>
      <main class="col card content-card shadow-sm">
        <div class="profil-info">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active title-nav"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
              >
                Personal Info
              </button>
              <button
                class="nav-link title-nav"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
              >
                Placeholder
              </button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <form class="row g-3 needs-validation mt-3" novalidate>
                <div class="col-md-6">
                  <label for="validationCustom01" class="form-label"
                    >Nom:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    value="Mark"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02" class="form-label"
                    >Prenom:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom02"
                    value="Otto"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom03" class="form-label"
                    >Username:</label
                  >
                  <input
                    readonly
                    type="text"
                    class="form-control"
                    id="validationCustom03"
                    required
                  />
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom03" class="form-label"
                    >Date de naissance</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="validationCustom03"
                    required
                  />
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom04" class="form-label"
                    >Civilite:</label
                  >
                  <select
                    class="form-select"
                    id="validationCustom04"
                    required
                  >
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid state.
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom01" class="form-label"
                    >Entrer SQLI:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="validationCustom01"
                    value="Mark"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02" class="form-label"
                    >Sortie de SQLI:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="validationCustom02"
                    value="Otto"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom01" class="form-label"
                    >Recrutement:</label
                  >
                  <select
                    class="form-select"
                    id="validationCustom04"
                    required
                  >
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                  </select>
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02" class="form-label"
                    >Matricule:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom02"
                    value="Otto"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02" class="form-label"
                    >Debut de stage :</label
                  >

                  <input
                    type="date"
                    class="form-control"
                    id="validationCustom02"
                    value="Otto"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02" class="form-label"
                    >Premiere experience:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="validationCustom02"
                    value="Otto"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col">
                  <label for="validationCustom02" class="form-label"
                    >Diplomes:</label
                  >
                  <textarea
                    class="form-control"
                    id="validationCustom02"
                    value="Otto"
                    required
                  >
                  </textarea>
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </form>
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              test 2
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</section>